/**
 * Add box sizing to everything
 * @link http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
/* line 38, src/sass/components/_normalize.scss */
*, *:before, *:after {
	box-sizing: border-box;
}

/* BASIC STYLES */

body {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 112.5%;
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
	width: 88%;
}

input[type="text"] {
	display: block;
	width: 50%;
	margin-top: 1rem;
	padding: 5px;
	font-size: 100%;
}

input[type="checkbox"] {
	margin-right: 0.5rem;
}

a, label {
	display: block;
	margin-top: 0.5rem;
}

#created-lists {
	margin-top: 1rem;
}
